
html {
    font-size: 62.5%;
}

body {
    font: 400 1.5rem 'Spartan', sans-serif;
    line-height: 1;
    margin: 0;
}

main {
    background-image:
        url("images/bg-pattern-top-desktop.svg"),
        url("images/bg-pattern-bottom-desktop.svg");
    background-repeat: no-repeat;
    background-position: top left, bottom right;
    background-size: 45%, auto 85%;
    padding: 0 3rem;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 6rem;
    letter-spacing: -3px;
    margin: 0 0 2rem;
}

h1, h2 {
    color: hsl(300, 43%, 22%);
    font-weight: 700;
}

p {
    margin: 0;
}

blockquote p::before { content: "\201C"; }
blockquote p::after { content: "\201D"; }

.container {
    color: hsl(303, 10%, 53%);
    max-width: 130rem;
    display: grid;
    grid-template-columns: 40% 60%;
    grid-template-rows: 1fr 1fr;
    align-items: center;
    justify-items: end;
    row-gap: 7.5rem;
}

.social-header {
    grid-column: 1/2;
    grid-row: 1/2;
}

.social-header p {
    line-height: 1.7;
    font-size: 1.7rem;
    font-weight: 500;
}

.ratings-section {
    grid-column: 2/3;
    grid-row: 1/2;
}

.rating {
    background-color: hsl(300, 24%, 96%);
    border-radius: 1rem;
    padding: 2rem 4rem;
    display: flex;
    align-items: center;
    position: relative;
}

/* Spacing between ratings (staircase effect) */
.rating:not(:first-of-type) {
    margin-top: 2rem;
}
.rating:nth-of-type(1) {
    right: 10rem;
}
.rating:nth-of-type(2) {
    right: 5rem;
}
.rating:nth-of-type(3) {
    right: 0;
}

.rating-icons {
    margin-right: 4rem;
}

.rating .icon:not(:last-child) {
    margin-right: 0.2rem;
}

.rating-heading {
    font-size: 1.7rem;
    margin: 0;
}

.testimonials-section {
    grid-column: 1/3;
    grid-row: 2/3;
    display: flex;
}

.testimonial {
    background-color: hsl(300, 43%, 22%);
    border-radius: 1rem;
    color: hsl(0, 0%, 100%);
    line-height: 1.7;
    padding: 3.5rem 3rem;
    position: relative;
}

.testimonial:not(:last-of-type) {
    margin-right: 3.5rem;
}
.testimonial:nth-of-type(2) {
    top: 2rem;
}
.testimonial:nth-of-type(3) {
    top: 4rem;
}

.testimonial-user {
    display: flex;
    align-items: center;
    margin-bottom: 3rem;
}

.testimonial-img {
    border-radius: 50%;
    margin-right: 3rem;
    width: 6rem;
}

.testimonial cite {
    font-style: normal;
    font-weight: 700;
}

.verified {
    color: hsl(333, 80%, 67%);
    font-weight: initial;
    display: block;
}

.testimonial blockquote {
    margin: 0;
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}
