
html {
    font-size: 62.5%;
}

body {
    color: hsl(217, 19%, 35%);
    background-color: hsl(210, 46%, 95%);
    font: 500 1.6rem 'Manrope', sans-serif;
    margin: 0;
}

.content {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 3rem;
}

.component {
    --component-round-corner: 1.5rem;
    background-color: white;
    border-radius: var(--component-round-corner);
    box-shadow: 0 2rem 3.5rem hsl(210, 46%, 88%);
    display: flex;
    max-width: 95rem;
    margin-bottom: 6rem;
}

.component h2 {
    font-weight: 700;
    font-size: 2.7rem;
    margin: 0;
}

.component p {
    color: hsl(214, 17%, 51%);
    word-spacing: 1px;
    line-height: 1.5;
    margin: 2rem 0;
}

.component-image-wrapper {
    flex-basis: 45%;
}

.component-image {
    flex-basis: 45%;
    border-top-left-radius: var(--component-round-corner);
    border-bottom-left-radius: var(--component-round-corner);
    object-fit: cover;
    object-position: left;
    max-width: 100%;
    min-height: 100%;
}

.component-body {
    flex-basis: 55%;
    padding: 4rem 5.5rem;
}

.component-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.component-footer-info {
    display: flex;
}

.author-image-wrapper {
    flex-basis: 6rem;
    margin-right: 2rem;
}

.author-image {
    border-radius: 50%;
    max-width: 100%;
}

.component-data {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.component-author {
    font-weight: 700;
    font-size: 1.8rem;
    margin-bottom: 0.25rem;
}

.component-date {
    color: hsl(212, 23%, 69%);
}

.share-btn-wrapper {
    position: relative;
}

.share-popup {
    --popup-bg-color: hsl(217, 19%, 35%);
    background-color: var(--popup-bg-color);
    border-radius: 1rem;
    box-shadow: 0 1rem 1rem hsl(210, 46%, 90%);
    color: hsl(212, 23%, 69%);
    font-size: 1.4rem;
    text-transform: uppercase;
    letter-spacing: 5px;
    position: absolute;
    top: -8.5rem;
    left: 50%;
    display: flex;
    align-items: center;
    padding: 2rem 4rem;
    width: max-content;
    visibility: hidden;
    z-index: 1;
}

.share-popup::after {
    content: "";
    /* Triangle shape pointing down */
    border-width: 1.5rem;
    border-style: solid;
    border-color: transparent;
    border-top-color: var(--popup-bg-color);
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
}

.show-popup {
    animation: popup-fadeup 0.4s ease-in forwards;
}

.share-text {
    display: inline-block;
    margin-right: 1.75rem;
}

.social-link:not(:last-of-type) {
    margin-right: 1.5rem;
}

.share-btn {
    background-color: hsl(210, 46%, 95%);
    border-radius: 50%;
    border: none;
    width: 4rem;
    height: 4rem;
}

.share-btn:hover,
.active-share-btn {
    background-color: hsl(214, 17%, 51%);
    color: white;
    cursor: pointer;
}

.share-btn:hover .share-icon,
.active-share-btn .share-icon {
    fill: white;
}

.attribution {
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

@keyframes popup-fadeup {
    from {
        opacity: 0;
        transform: translateX(-50%) translateY(0.7rem);
    }
    to {
        opacity: 1;
        transform: translateX(-50%) translateY(-0.7rem);
        visibility: visible;
    }
}

@media screen and (max-width: 1100px) {
    /* Move the popup to prevent interfering with content padding */
    .share-popup { left: -150%; }
    .share-popup::after { left: 81%; }
}
